In [ ]:
LIST DATA  TYPE:

In [ ]:
DEF:A list is colection of data in particular order

In [ ]:
mutable data

In [ ]:
define list----->[]

In [1]:
students=['chithra','naveen','radhika','suresh','mathew','lakshmi']

In [2]:
print(students)

['chithra', 'naveen', 'radhika', 'suresh', 'mathew', 'lakshmi']

In [3]:
type(students)

list

In [ ]:
#how to access the elements from above list

In [ ]:
inroduction to indexing===>partticular order of list

In [ ]:
indexing will be starting from 0,1,2,3,4....

In [ ]:
#req:i want to access naveen name in the ouptut.what is the index number of naveen?

In [4]:
print(students[1])

naveen

In [6]:
print(students[1].title())

Naveen

1.how to add new elements to the list

In [ ]:
2.how to modify the elements in list

In [ ]:
how to delete the elements from the list

In [ ]:
#i want to add the name to the list

In [7]:
students.append('vennila')

In [8]:
print(students)

['chithra', 'naveen', 'radhika', 'suresh', 'mathew', 'lakshmi', 'vennila']

In [ ]:
#i want to add arshin name at the 2nd position

In [11]:
students.insert(2,'iniya')

In [12]:
print(students)

['chithra', 'naveen', 'iniya', 'iniya', 'radhika', 'suresh', 'mathew', 'lakshmi', 'vennila']

In [13]:
print(students[2])

iniya

In [ ]:
#what is the difference between append and insert?

In [ ]:
append==>to add a name to the list

In [ ]:
insert===>to add a name to the list in the needed position

In [14]:
students[1]='arshin'

In [15]:
print(students)

['chithra', 'arshin', 'iniya', 'iniya', 'radhika', 'suresh', 'mathew', 'lakshmi', 'vennila']

In [ ]:
#delete name from the list

In [16]:
del students[2]

In [17]:
print(students)

['chithra', 'arshin', 'iniya', 'radhika', 'suresh', 'mathew', 'lakshmi', 'vennila']